.app__specialMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-black);
}
.app__specialMenu-title {
  text-align: center;
}
.app__specialMenu-title h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0.04em;
}
.app__specialMenu-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.app__specialMenu-menu_wine {
  flex-direction: column;
  width: 100%;
}
.app__specialMenu-menu_img {
  width: 100%;
}
.app__specialMenu-menu_img img {
  margin: 0 2rem 3rem 2rem;
  height: 650px;
}
.app__specialMenu-menu_cocktails {
  width: 100%;
  flex-direction: column;
}
.app__specialMenu-menu_heading {
  font-size: 45px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: var(--font-base);
  color: var(--color-white);
}

@media screen and (max-width: 1300px) {
  .app__specialMenu-menu_img {
    align-self: center;
  }
  .app__specialMenu-menu_img img {
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .app__specialMenu-title h1 {
    font-size: 54px;
  }
  .app__specialMenu-menu_heading {
    font-size: 35px;
    line-height: 40px;
  }
  .app__specialMenu-menu_img img {
    height: 400px;
  }
}

@media screen and (max-width: 750px) {
  .app__specialMenu-menu {
    text-align: center;
    flex-direction: column;
  }
  .app__specialMenu-title h1 {
    font-size: 54px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .app__specialMenu-title h1 {
    font-size: 54px;
  }
  .app__specialMenu-menu_img img {
    height: 300px;
  }
}
