.app__wrapper-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 2rem;
}
.app__wrapper-content h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 2rem;
  color: var(--color-golden);
}
