.app__newsletter {
  z-index: 2;
  text-align: center;
  width: 80%;
  padding: 2rem 4rem;
  border: 0.1px solid var(--color-golden);
  background: var(--color-black);
}
.app__newsltetter-heading {
  width: 100%;
}
.app__newsltetter-heading h1 {
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 600;
  line-height: 83.2px;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
  text-align: center;
}
.app__newsltetter-heading p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  margin-bottom: 2rem;
}

.app__newsletter-input input {
  width: 796px;
  height: 60px;
  font-size: 1.2rem;
  padding-left: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  background: transparent;
  border-radius: 5px;
  color: var(--color-white);
  font-family: var(--font-base);
  border: 1px solid var(--color-golden);
}
.app__newsletter-input input:placeholder {
  font-family: var(--font-base);
  font-size: 1.2rem;
  padding-left: 1rem;
}
.app__newsletter-input button {
  margin-bottom: 1rem;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  .app__newsletter {
    width: 90%;
  }
  .app__newsltetter-heading h1 {
    font-size: 50px;
    line-height: 63.2px;
  }
  .app__newsletter-input input {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .app__newsletter {
    width: 100%;
    padding: 2rem 2rem;
  }
  .app__newsletter {
    width: 100%;
  }
  .app__newsltetter-heading h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .app__newsletter-input {
    flex-direction: column;
  }
  .app__newsletter-input input {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 550px) {
  .app__newsletter {
    width: 100%;
    padding: 2rem 1rem;
  }
  .app__newsltetter-heading h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .app__newsletter-input input {
    font-size: 1.2rem;
  }
  .app__newsletter-input input:placeholder {
    font-family: var(--font-base);
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}
