.app__header {
  flex: row;
  background: var(--color-black);
}
.app__header-h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  text-align: left;
  font-family: var(--font-base);
  color: var(--color-golden);
}
.app__wrapper_img img {
  width: 80%;
}
.app__heading-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 2rem 0;
  color: var(--color-golden);
}

@media screen and (max-width: 1200px) {
  .app__header-h1 {
    font-size: 80px;
    line-height: 95px;
  }
  .app__wrapper_img {
    flex: 1;
    width: 70%;
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .app__header-h1 {
    font-size: 60px;
    line-height: 75px;
  }
}
@media screen and (max-width: 400px) {
  .app__header-h1 {
    font-size: 55px;
    line-height: 70px;
  }
}
